@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
* {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #09204a;
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 20px;
  padding-right: 200px;
  padding-left: 150px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 70px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
}
.button-with-nav button{
  border-radius: 20px;
  border-color: white;
    height: 40px;
    width: 140px;
    text-align: center;
    background-color: #09204a;
    color: white;
    font-weight: bold;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.left-side {
    
	max-width: 450px;
    color: white;
    float: left;
    position: relative;
    top: 120px;
}
.left-side h1{
    font-weight: bold;
    font-size: 60px;
  }
  .left-side p{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .left-side button{
    border-radius: 20px;
    height: 40px;
    width: 120px;
    text-align: center;
    background-color: #F75683;
  }
.right-side img{
  
position: absolute;

right: 100px;;
width: 1000px;
}

.service-top{
  padding-top: 40px;
  text-align: center;
  
}
.service-top p{
  color: #FBB5CF;
  font-weight: bold;
}
.service-top h1{
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  
}
.services-container
{
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 80px 120px 140px;
  
}

.circle-1,.circle-2,.circle-3{
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50px;
  background-color:white;
  box-shadow: 1px 2px 5px black;
}
.circle-1 img ,.circle-2 img ,.circle-3 img{
  padding-top: 15px;
}
.section-b
{
  background-color: #F6F9FC;
}
.b-container{
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
}
.content-1,.content-2{
 display: flex;
}


.notification-cont{
  
  position: relative;
  height: 80px;
  width: 250px;
  background-color:red;
  border-radius: 5px;
  bottom: 260px;
  left: 300px;
}
.new-feature-popup{
  display: inline-block;
}
.circle-f{
  width: 50px;
  height: 50px;
  
  border-radius: 50px;
  background-color: wheat;
}
.sec-4{
  background-color: #0A2756;
  
}
.sec-4-cont-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  padding-top: 100px;
  
  
}
.sec-4-cont-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  
}
.square-1-ind{
  width: 200px;
  height: 200px;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #0A2756;
  border: solid 2px #343A78;


}
.square-1-ind img{
  width: 60px;
  
}
.square-1-ind a{
  padding-top: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.sec-4-link{
  text-align: center;
  color: white;
  padding-top: 60px;
  font-weight: bold;
}
.sec-4-link a{
  color: white;
  font-weight: bold;
}
.sec-5-cont-1{
  text-align: center;
  padding-top: 60px;
  font-weight: bold;
}
.sec-5-cont-2{
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sec-6-heading
{ 
  padding-top: 60px;
  
  font-weight: bold;
  text-align: center;
}
.sec-6-cont{
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
	align-items: center;
}
.copy-r{
  text-align: center;
}