@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
* {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #09204a;
  width: 100%;
  height: 85vh;
  padding-top: 20px;
  padding-right: 200px;
  padding-left: 150px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
}
.button-with-nav button {
  border-radius: 20px;
  border-color: white;
  height: 40px;
  width: 140px;
  text-align: center;
  background-color: #09204a;
  color: white;
  font-weight: bold;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.left-side {
  padding-top: 80px;
  float: left;
  color: #f6f9fc;
  width: 450px;
}
.left-side h1 {
  font-weight: bold;
  font-size: 60px;
}
.left-side p {
  padding-top: 15px;
  padding-bottom: 40px;
  line-height: 1.6;
}
.left-side button {
  border-radius: 40px;
  height: 50px;
  width: 150px;
  text-align: center;
  background-color: #f75683;
  color: #f6f9fc;
  font-weight: bold;
}
.right-side img {
  position: absolute;
  right: 100px;
  width: 1000px;
}
.service-top {
  display: flex;
  padding-top: 80px;
  justify-content: center;
}
.service-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}
.service-top p {
  color: #ff67a6;
  font-weight: bold;
}
.service-top h1 {
  font-size: 40px;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}
.services-container {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.6;
  padding-top: 80px;
  padding-bottom: 80px;
}
.content-below-circle {
  width: 350px;
}
.col-1,
.col-2,
.col-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-1 h1,
.col-2 h1,
.col-3 h1 {
  font-weight: bold;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}
.col-1 p,
.col-2 p,
.col-3 p {
  text-align: center;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 1px 2px 5px black;
}
.circle img {
  padding: 20px;
}
.section-grow-business {
  background-color: #f6f9fc;
}
.rectiangle-for-image {
  position: relative;
  bottom: 290px;
  left: 275px;
  width: 330px;
  background-color: #ffffff;
  height: 100px;
  border-radius: 5px;
}
.rectiangle-content {
  float: right;
  position: relative;
  bottom: 35px;
  right: 20px;
  line-height: 1.5;
}
.business-sec-circle {
  width: 60px;
  height: 60px;
  position: relative;
  top: 20px;
  bottom: 15px;
  left: 15px;
  border-radius: 50px;
  background-color: #ffedf5;
}
.grow-business-container {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 60px;
}
.b-business h1 {
  font-weight: bold;
  font-size: 50px;
  padding-bottom: 40px;
}
.b-right-side-content {
  padding: 30px;
  width: 410px;
}
.b-right-side-contenth1 {
  padding-bottom: 20px;
}
.b-right-side-content p {
  line-height: 1.6;
}
.content-1,
.content-2 {
  display: flex;
}
.sec-b-btn button {
  border-radius: 40px;
  height: 50px;
  width: 150px;
  text-align: center;
  background-color: #f75683;
  color: #f6f9fc;
  font-weight: bold;
}
.sec-4 {
  background-color: #0a2756;
  padding: 50px;
}
.sec-4-cont-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  padding-top: 50px;
}
.sec-4-cont-1-left{
  width: 450px;
}
.sec-4-cont-1-left p {
  font-weight: bold;
  color: #ff4492;
  padding-bottom: 10px;
}
.sec-4-cont-1-left h1 {
  font-size: 40px;
}
.sec-4-cont-1-right{
  width: 500px;
}
.sec-4-cont-1-right p {
  padding-top: 20px;
  line-height: 1.6;
  font-size: 20px;
}
.sec-4-cont-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}
.square-1-ind {
  width: 200px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #0a2756;
  border: solid 2px #343a78;
}
.square-1-ind {
  padding-top: 20px;
  padding-left: 60px;
}
.square-1-ind img {
  width: 60px;
}
.square-1-ind a {
  padding-top: 20px;
  padding-right: 60px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.sec-4-link {
  text-align: center;
  color: white;
  padding-top: 60px;
  font-weight: bold;
}
.sec-4-link a {
  color: white;
  font-weight: bold;
}
.sec-5-cont-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.sec-5-cont-1 h1 {
  font-weight: bold;
  font-size: 50px;
}
.sec-5-cont-1 p {
  text-align: center;
  width: 600px;
  padding-top: 20px;
  line-height: 1.6;
  padding-bottom: 50px;
}
.sec-5-cont-1 button {
  border-radius: 50px;
  border-color: #ff44a3;
  height: 50px;
  width: 180px;
  text-align: center;
  background-color: white;
  color: #ff44a3;
  font-weight: bold;
}
.sec-5-cont-2 {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sec-5-cont-2 h1 {
  font-size: 80px;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
}
.sec-5-cont-2 p {
  width: 240px;
  line-height: 1.6;
  font-weight: bold;
  padding-bottom: 80px;
  text-align: center;
}
.sec-6-heading h1 {
  padding-top: 60px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.sec-6-cont h1{
  width: 300px;
}
.sec-6-cont {
  padding-top: 60px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.below-hero-img h1 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;
}
.hero-image-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/ezgif-2-23981be6ff11.png");
  width: 300px;
  height: 250px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/ezgif-2-2d591551066b.png");
  width: 300px;
  height: 250px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/ezgif-2-823d93dfde62.png");
  width: 300px;
  height: 250px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  padding-top: 100px;
  text-align: center;
  color: white;
}
.hero-image-sec-7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/ezgif-2-82af66fcd1cb.png");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text-sec-7 {
  padding-top: 160px;
  text-align: center;
  color: white;
}
.hero-text-sec-7 p {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 40px;
}
.hero-text-sec-7 img {
  width: 100px;
  height: 100px;
}
.hero-text-sec-7 button {
  border-radius: 50px;
  border-color: white;
  height: 60px;
  width: 190px;
  text-align: center;
  background-color: white;
  color: #ff44a3;
  font-weight: bold;
}
.footer-row {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-row p {
  padding-top: 50px;
  line-height: 1.6;
}
#contact-num {
  padding-top: 10px;
  padding-bottom: 10px;
}
#email-footer a {
  color: black;
  font-weight: bold;
}
.footer-nav {
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-nav a {
  text-decoration: none;
  color: gray;
}
.fotter-services{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fotter-services a {
  text-decoration: none;
  color: gray;
}
.subscribe h2 {
  padding-top: 20px;
}
.email-input {
  padding-top: 50px;
}
.email-input input {
  text-align: center;
  width: 300px;
  height: 50px;
  border-radius: 40px;
}
.email-input button {
  width: 40px;
  height: 50px;
}
.footer-logo img {
  border-radius: 20px;
  height: 50px;
}
.social-icons .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.social-icons .fa:hover {
  opacity: 0.7;
}
.copy-right p{
  text-align: center;
  padding-bottom: 20px;
}
nav .fa {
  visibility: hidden;
}
@media screen and (max-width: 772px) {
  html,body{
    overflow-x: hidden;
}
  header {
    background-color: #09204a;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
  }
  nav .fa {
    visibility: visible;
    color: #f6f9fc;
    font-size: 20px;
  }
  .menu {
    visibility: hidden;
  }
  .right-side img{
    visibility: hidden;
  }
 .square-data-combine{
   padding: 30px;
 }
 .sec-5-cont-1 h1{
   font-size: 40px;
 }
 .sec5-col h1{
   font-size: 40px;
 }
 .footer-row{
  flex-direction: column;
}
.footer-nav, .fotter-services{
  padding-top: 25px;
  padding-bottom: 20px;
  
}
.footer-nav a, .fotter-services a{
 padding: 4px;
}
}
@media (max-width: 480px) {
  html,body{
    overflow-x: hidden;
}
  header{
    height: 90vh;
  }
  .left-side{
    width: 1000px;
  }
  .left-side h1{
    font-size: 30px;
  }
  .service-top-content h1{
       font-size: 30px;
  }
  .rectiangle-for-image{
    position: relative;
    top: -106px;
    left: 64px;
    width: 400px;
  }
  .rectiangle-content {
    float: right;
    position: relative;
    bottom: 35px;
    right: 82px;
    line-height: 1.5;
}
  .b-right-side{
    width: 400px;
  }
  .sec-4-cont-1-left h1{
    width: 350px;
    font-size: 20px;
  }
  .sec-4-cont-1-right p{
    padding-top: 30px ;
    width: 380px;
    font-size: 14px;
    padding-left: 12px;
  }
  .sec-5-cont-1 h1{
    font-size: 20px;
  }
  .sec-5-cont-1 p{
    width: 400px;
  }
  .sec-5-cont-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sec5-col h1{
    font-size: 30px;
  } 
  .sec5-col p{
    width: 380px;
  } 
  .sec-6-heading h1{
    font-size: 20px;
  }
  .col-2{
    padding: 20px;
  }
  .sec-6-cont2{
    padding: 20px;
  }
  .below-hero-img h1{
  font-size: 12px;
  }
  .hero-text-sec-7 p{
    font-size: 30px;
  }
  .footer-row{
    flex-direction: column;
  }
  .footer-nav, .fotter-services{
    padding-top: 25px;
    padding-bottom: 20px;
    
  }
  .footer-nav a, .fotter-services a{
   padding: 4px;
  }

}